#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk

install/nodejs-cluster::
	npm_config_prefix=debian/nodejs-cluster/usr/lib/nodejs_debian npm install -g
	dh_link usr/lib/nodejs_debian/lib/node_modules/cluster usr/lib/nodejs/cluster
